*.class

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.vscode/
.idea/
*.iws
*.iml
*.ipr
*.project
*.classpath
.settings/

### Operating System ###
.DS_Store

### Application Specific ###
bolt-spot/journal.data
journal.data

### Logs and Temp Files ###
*.log
*.tmp
*.temp
tmp/
temp/
logs/
bolt-spot/*.html
